.cartProductName {
  font-size: 1.4vw;
  padding-bottom: 10px;
}
.productItem {
  height: 23vh;
}
.cartProductPrice {
  font-size: 1vw;
  padding-bottom: 10px;
}
.updateButton {
  border: 1px black solid;
  background-color: transparent;
  font-size: .8vw;
  padding: 3px 10px;
}
.updateButton:hover {
  color: #7f7f7f;
}