.headerContainer {
  background-color: white;
  height: 9vh;
}
.headerIcon {
  background-image: url(./../assets/images/icons8-mountain-96.png);
  height: 5vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.headerTitle {
  color: rgb(0, 0, 0);
  font-size: 3vh;
  font-weight: 400;
}
.headerTitle:hover {
  color: #545454;
}
.cartLength {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
.cartLength:hover {
  color:#545454
}