@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:500,600,700&display=swap');

.headerContainer {
  background-image: linear-gradient(to right, #111111, #292929);
  height: 9vh;
}
.headerIcon {
  background-image: url(./../assets/images/mountain_logo3.png);
  height: 6vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.headerTitle {
  font-family: 'Expletus Sans', cursive;
  color: white;
  font-size: 3vh;
}
.headerCartContainer {
}
.shoppingCart {
  /* background-image: url(./../assets/images/cart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px; */
}
.cartLength {
  color: white;
  font-size: 1.2rem;
}