.banner {
  height: 94vh;
  background-image: url(./../assets/images/yosemite-banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.catalogBody {
  background-color: black;
}
.bannerTitleText {
  font-size: 6vh;
  line-height: 1;
}
.bannerText {
  font-size: 2vh;
}
.bannerTextContainer {
  padding-top: 20vh;
}