.catalogItem {
  border: 1px solid transparent;
}
.catalogItem:hover {
  border: 1px #bdbdbd solid;
}
.productImage {
  height: 35vh;
  background-color: #f1f1f1;
}
.productInfo {
  background-color: white;
}
.productName {
  font-size: 1.3vw;
}
.moreInfoButton {
  width: 60%;
}