@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor {
  cursor: pointer;
}